.menu-triger {
	display: block;
	width: 25px;
	height: 17px;	
	background: url(https://snipp.ru/demo/449/menu.png) 0 0 repeat;
	position: absolute;
	left: 15px;
	top: 28px;
}

.menu-items {
	display: none;	
	background: #2c2e3e;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0;
	padding: 30px;
	z-index: 9999;	
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.menu-items li {
	list-style: none;
	margin: 10px 0;
	padding: 0;
}

.menu-items li a {
	font-size: 18px;
	font-family: inherit;
	color: rgb(255, 255, 255);
	line-height: 1.4;	
	text-decoration: none;
		}

.body_pointer * {
	cursor: pointer;
}